:root {
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --text-color: #757575;
  --native-color: #FFFFFF;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --dark-bg-color: #2F303A;
  --bg-btn-portfolio: #F5F4FA;
  --text-btn-color: rgba(0, 0, 0, 0.15);
  --card-color: #EEEEEE;
  --border-color:#ECECEC;
}

body {
font-family: 'Roboto', Raleway;
font-size: 14px;
background-color: var(--native-color);
letter-spacing: 0.03em;
}

p, h1, h2, h3, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Header conteiner*/
header {
  display: flex;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid var(--border-color);


}
.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;

font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.192;
text-decoration: none;
color: var(--accent-color)
}

.logo-studio-second{
 color: var(--title-text-color);
}

.logo-studio-second-footer{
color: var(--native-color);
}
.site-nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.site-nav > li:not(:last-child) {
  margin-right: 50px;
}

.in-nav-list{
  padding-top: 32px;
  padding-bottom: 32px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--title-text-color);
text-decoration: none;
}
.in-nav-list.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.out-nav-list{
  padding-top: 32px;
  padding-bottom: 32px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
text-decoration: none;
}

.mail {
  padding-right: 50px;
}

.in-nav-list:hover,.in-nav-list:focus,
.out-nav-list:hover, .out-nav-list:focus,
.contact-conteiner:hover, .contact-conteiner:focus,
.adress-conteiner:hover, .adress-conteiner:focus
{
  color:var(--accent-color);
}

/* main conteiner index */
.hero-title-button{
background: var(--dark-bg-color);
align-items: center;
padding-top: 200px;
padding-bottom: 200px;
}

.title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title{
  margin: 0 auto;
  width: 696px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--native-color);
text-transform: uppercase;
}

.button-hero{
padding: 10px 32px;
border: none;
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--native-color);
background: var(--accent-color);
box-shadow: 0px 4px 4px var(--text-btn-color);
border-radius: 4px;
}

/*Title section*/

.second-title{
font-weight: 700;
font-size: 36px;
line-height: 1.166;
text-align: center;
color: var(--title-text-color)
}

.third-title{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
color: var(--title-text-color);

}

.member-title {
font-weight: 700;
font-size: 16px;
line-height: 1.142;
color: var(--title-text-color);
text-align:center
}
.text-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.hidden-title{
  display: none;
     position: absolute;    
      width: 1px;    
       height: 1px;   
      margin: -1px;   
       padding: 0;    
        overflow: hidden;   
          border: 0;    
           clip: rect(0 0 0 0); 
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.000;
  letter-spacing: 0.06em;
  color: var(--title-text-color)
}

/*about product section*/
.product-list {
  display: flex;
}

.product-list> li:not(:last-child) {
  margin-right: 30px;
}

.about-product-p{
  width: 270px;
  line-height: 1.71;
  color: var(--text-color);
}

.project-title {
  margin-bottom: 50px;
}
.project-list {
  display: flex;
}

.project-list> li:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  background-color: var(--bg-btn-portfolio);
  margin-top: 0;
  margin-bottom: 0;
}

.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.our-team-p{
margin-top: 10px;
font-size: 16px;
line-height: 1.187;
text-align: center;
color: var(--text-color);
}

.members {
background: var(--native-color);
width: 270px;
  margin-bottom: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

}

.members:not(:last-child) {
  margin-right: 30px;
}
.member-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* main conteiner portfolio */
.header-border {
  border: 1px solid var(--card-color);
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-list >li:not(:last-child) {
  margin-right: 8px;
}

.buttons-portfolio:hover{
  background: var(--accent-color); 
  color: var(--native-color); 
}
.buttons-portfolio:focus{
  background: var(--accent-color);
  color: var(--native-color);
}
.buttons-portfolio{
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  }

  .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  }

  .portfolio-card {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  
    background: var(--native-color);

  }
  .portfolio-card:nth-child(3n) {
    margin-right: 0;
  }

  .portfolio-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  
.image-card {
padding: 20px 24px 20px 24px;
border-bottom: 1px solid var(--card-color);
border-left: 1px solid var(--card-color);
border-right: 1px solid var(--card-color);
  }

.photoes-p{
  margin-top: 4px;
font-size: 16px;
line-height: 1.875;
color: var(--text-color);
}

.imgbox-section {
  text-decoration: none;
}

/* footer conteiner */

.logof {
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 60px;
  font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.192;
text-decoration: none;
color: var(--accent-color)
}

.footer-conteiner{
background: var(--dark-bg-color);
padding-top: 60px;
padding-bottom: 60px;
}

.contact-conteiner{
font-style: normal;
line-height: 1.714;
color: var(--footer-contact-color);
text-decoration: none;
}

.adress-conteiner{
font-style: normal;
line-height: 1.714;
color: var(--native-color);
text-decoration: none;
}

.address-link {
  display: inline-block;
}

.adress-list> li:not(:last-child) {
  margin-bottom: 9px;
}