:root {
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --text-color: #757575;
  --native-color: #FFFFFF;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --dark-bg-color: #2F303A;
  --bg-btn-portfolio: #F5F4FA;
  --text-btn-color: rgba(0, 0, 0, 0.15);
}

body {
font-family: 'Roboto', Raleway;
font-size: 14px;
background-color: var(--native-color);
letter-spacing: 0.03em;
}

/* Header conteiner*/
.logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.192;
text-decoration: none;
color: var(--accent-color)
}

.logo-studio-second{
 color: var(--title-text-color);
}

.logo-studio-second-footer{
color: var(--native-color);
}
.in-nav-list{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color:var(--title-text-color);
text-decoration: none;
}
.in-nav-list.current {
  color: var(--accent-color);
}
.out-nav-list{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
text-decoration: none;
}

.in-nav-list:hover,.in-nav-list:focus,
.out-nav-list:hover, .out-nav-list:focus,
.contact-conteiner:hover, .contact-conteiner:focus,
.adress-conteiner:hover, .adress-conteiner:focus
{
  color:var(--accent-color);
}

.list{
  list-style: none;
}

/* main conteiner index */
.hero-title-button{
background: var(--dark-bg-color);
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
color: var(--native-color);
text-transform: uppercase;
}

.button-hero{
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--native-color);
background: var(--accent-color);
box-shadow: 0px 4px 4px; 
border-radius: 4px;
}

/*Title section*/

.second-title{
font-weight: 700;
font-size: 36px;
line-height: 1.166px;
text-align: center;
color: var(--title-text-color)
}

.third-title{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
color: var(--title-text-color)
}

.text-title {
  text-transform: uppercase;
}

.hidden-title{
  display: none
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.000;
  letter-spacing: 0.06em;
  color: var(--title-text-color)
}

/*about product section*/
.about-product-p{
  line-height: 1.71;
  color: var(--text-color);
}

.our-team-p{
font-size: 16px;
line-height: 1.187;
text-align: center;
color: var(--text-color);
}

/* main conteiner portfolio */

.buttons-portfolio:hover{
  background: var(--accent-color); 
  color: var(--native-color); 
}
.buttons-portfolio:focus{
  background: var(--accent-color);
  color: var(--native-color);
}
.buttons-portfolio{
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  }

.photoes-p{
font-size: 16px;
line-height: 1.875;
color: var(--text-color);
}
.imgbox-section {
  text-decoration: none;
}

/* footer conteiner */
.footer-conteiner{
background: var(--dark-bg-color);
}
.contact-conteiner{
font-style: normal;
line-height: 1.714;
color: var(--footer-contact-color);
text-decoration: none;
}
.adress-conteiner{
font-style: normal;
line-height: 1.714;
color: var(--native-color);
text-decoration: none;
}



